<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "sumitg.JPG", class: "img-responsive"  %>
                <div class="intro-text">
                    <span class="name">Sumit Gautam</span>
                    <hr class="star-light">
                    <span class="skills">Web Developer - Ruby on Rails - PHP -  </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image, class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Hi! my name is Sumit Gautam and I am a Ruby on Rails developer. I love to code and I have always been attracted towards coding and developing a software. I am currently working as a freelancer.</p>
            </div>
            <div class="col-lg-4">
                <p> Apart from my working time I like to listen to music. I also love sports especially, outdoors. I am currently working on some ruby projects and shell scripting with linux. </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
               
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= mail_to "sghost33@gmail.com", "Contact Me", subject: "Hi! Please include your name and email address" %></h2><br>
                <hr class="star-primary">
                <span class="skills">Mail At : sghost33@gmail.com </span>
                <hr border="2">
                  <div align="center" >
                                <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBGW4iE9P_UppKfyxuj0V76Ay-1bXw_Iq0'>
                                </script>
                                    <div style='overflow:hidden;height:285px;width:350px;'>
                                        <div id='gmap_canvas' style='height:285px;width:350px;'>
                                        </div>
                                        <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
                                    </div> <a href='https://addmap.net/'>google maps embedded</a> 
                                <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=c1f5477674269a45d03d53396bc0fdbc559564bd'>
                                </script><script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng(27.6717432,85.43812170000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(27.6717432,85.43812170000001)});infowindow = new google.maps.InfoWindow({content:'<strong>Map</strong><br>Kamalbinyak Bhaktapur<br> <br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
                                </script>
                            </div>
            </div>
        </div>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>